body {
    background-color: #FFFFFF;
}

/* 1 страница */
/* хедер background: #FFFFFF; */
/* цвет заголовки color: #212121;*/
/* основной текст color: #757575;*/
/* акцент цвет ссылки веб и Студия color: #2196F3; */
/* Эффективные решения осн color: #FFFFFF*;/
/* Эффективные решения фон background: #2F303A; */
/*  Чем занимаемся фон background: #E5E5E5; */
/* Наша команда background: #F5F4FA; */
/* футер background: #2F303A; */
/* адресс внизу color: rgba(255, 255, 255, 0.6); */


/* 2 страница */
/* хедер background: #FFFFFF; */
/* футер background: #2F303A; */
/* заголовки ттекста color: #212121; */
/* абзацы color: #757575; */
.root {
    --title-text-color: #212121;
    --
}

/* Шапка */
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19px;
    letter-spacing: 0.03em;
}
.link {
    link-style: none;
}
.logo-blue {
    color: #2196F3;
}
.logo-black {
    color: #212121;
}
.link-one:hover {
    color: #2196F3; 
}
.page-header{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
}
.header {
    color: #212121;
}
.contact-one {
    color: #2196F3;
}
.contact-two {
    color: #757575;
}
/* Герой */
.hero {
    font-family: 'Roboto';
    font-style: normal;
    letter-spacing: 0.06em;
    text-align: center;
    color: #FFFFFF;
}
/* баг кольору */
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1,36;
    text-transform: uppercase;
}
.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1,88;
    display: flex;
    text-align: center;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.feature-list {
    font-family: 'Roboto';
    font-style: normal;
    letter-spacing: 0.03em;
}
.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1,14;
    text-transform: uppercase;
    color: #212121;
}
.title-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    color: #757575;
} 
.section-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1,17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
} 
.work-list {
    text-align: center;
}
.team-name {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1,88;
    text-align: center;
    letter-spacing: 0.03em; 
}
.name {
    font-weight: 500;
    color: #212121;
}
.position {
    font-weight: 400;
    color: #757575;
}
/* Не видно кольорів бо світлі */
.city {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}